*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
  
  }
  
  
  
  /*Header*/
  
  .menu nav menu{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  width: 60%;
  margin-left: 20%;
  border: 0px solid;
  }
  
  .menu li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  }
  
  
  .menu li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  }
  
  .menu li {
  list-style: none;
  cursor: pointer;
  transition: 0.5s all;
  font-size: 20px;
  }
  
  .menu li a {
  text-decoration: none;
  color: black;
  }
  
  
  
  
  
  .menu li:hover {
  transform: scale(1);
  }
  
  
  .menu img {
  position: absolute;
  height: 30px;
  top: 4.5%;
  left: 5%;
  transition: 0.5s all;
  }


  /*Main*/

  main {
    display: flex;
    justify-content: center;
  }

  .vypln {
    position: relative;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
    height: 680px;
    width: 50%;
    box-shadow: -1px 5px 22px 13px rgba(162,149,149,0.66);
  -webkit-box-shadow: -1px 5px 22px 13px rgba(162,149,149,0.66);
  -moz-box-shadow: -1px 5px 22px 13px rgba(162,149,149,0.66);
  }

  .vypln  h1 {
    position: absolute;
    top: 12%;
    left: 10%;
    text-decoration: underline;

  }
  
  
  input {
    border: 2px solid;
    background-color: white;
    color: black;
    font-size: 18px;
    padding-left: 90px;
    margin-top: 15%;
    
  }

  textarea {
    border: 2px solid;
    font-size: 16px;
    padding-left: 60px;
    padding-top: 30px;
    background-color: white;

  }
  
  
  #name {
    position: absolute;
    top: 5%;
    left: 8%;
    width: 40%;
    height: 60px;
  }
  
  #name2 {
    position: absolute;
    top: 5%;
    right: 8%;
    width: 40%;
    height: 60px;
  }

  
  #email {
    position: absolute;
    top: 20%;
    left: 8%;
    width: 84%;
    height: 60px;
  }
  
  #message {
    position: absolute;
    top: 55%;
    left: 8%;
    width: 84%;
    height: 160px;
  }
  
  .vypln button {
    position: absolute;
    font-size: 16px;
    border: none;
    top: 85%;
    left: 42%;
    width: 145px;
    height: 60px;
    background-color: black;
    color: white;
    padding-top: 5px;
    transition: 0.5s all;
    cursor: pointer;
  }
  
  .vypln button:hover {
    background-color: #5c5853;
  }
  
  .vypln ::placeholder {
    position: absolute;
    color: #5c5853;
    font-size: 18px;
    left: 120px;
    top: 20px;
  }
  
  .emaili ::placeholder {
    position: absolute;
    left: 47%;
  }

  
  
  .texti ::placeholder {
    position: absolute;
    left: 46%;
    top: 45%;
  }

  /*Footer*/

  footer {
    position: relative;
    border: 2px solid;
    margin-top: 12%;
    background-color: black;
    
  }
  
  .logo-nad {
    position: relative;
    border: 2px solid;
    width: 70%;
    height: 250px;
    z-index: 3;
    
  }
  
  
  .logo-nad img {
    position: absolute;
    height: 30px;
    left: 45%;
    top: 8.5%;
    left: 13.5%;
    border-radius: 80px;
  }
  
  .logo-nad h4 {
    position: absolute;
    font-size: 30px;
    left: 8%;
    top: 8%;
    color: white;
  }
  
  #f-nike {
    position: absolute;
    color: gray;
    font-size: 15px;
    z-index: 100;
    bottom: 5%;
    left: 73.5%;
    cursor: pointer;
  }
  
  #kont {
    position: absolute;
    left: 63%;
    top: 35%;
    transition: 0.5s all;
    cursor: pointer;
  }
  
  #kont:hover {
    transform: scale(1.2);
  }
  
  
  
  #location {
    position: absolute;
    color: gray;
    font-size: 16px;
    z-index: 100;
    bottom: 5%;
    left: 61.5%;
    transition: 0.5s all;
    cursor: pointer;
  }
  
  #location:hover {
    color: white;
  }
  
  .soc {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    margin-left: 85%;
    width: 10%;
    top: 0%;
    height: 100px;
    border: 0px solid wheat;
    top: 8%;
  }
  
  .soc a {
    text-decoration: none;
    color: white;
    font-size: 35px;
    transition: 0.5s all;
  }
  
  
  .soc a:hover {
    transform: scale(1.1);
  }